html

 head
 title="link"
 meta(name='viewport', content='width=device-width, initial-scale=1.0')
 
 body
 
   h2 Shortlink
   
   a(href=`${url}`) !{"https://url-shortener-microsev.glitch.me/api/shorturl/"+url}